$black-header: #181818;
$gray-text-header: #afafaf;
$green: #00e592;
$green-border: #aff2c2;
$border-gray: #c0bebe;
$red: #ae1d52e8;
$gray-header: #e2e2e2;
$gray: #f0f0f0;

$columns: 12;

$vazir: "vazir";
$vazir-bold: "vazir-bold";
